<%= form_for :category, url: categories_path do |f| %>

  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2>
        Error prohibited this category from being saved:
      </h2>
      <ul>
        <% @category.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :category_value %><br>
    <%= f.text_field :value %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<%= link_to 'Main Page', controller: 'categories' %>
<% end %>
